<!DOCTYPE html>
<html>
<<<<<<< HEAD
   <head>
      <meta charset="utf-8">
      <!-- Materialize -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!-- Link to local stylesheet -->
      <link rel="stylesheet" type="text/css" href="styles/styles.css">
      <!-- Link to local font -->
      <link href="https://fonts.googleapis.com/css?family=Anton|Righteous" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
      <title>Landing Page</title>
   </head>
   <body>
      <div class="container">
      <div class="jumbotron row clearfix" style="text-align:center" server.js>
         <div class="col l7">
            <h1 class="header">VIDEO WATCHLIST</h1>
            <!-- Button to open the modal login form -->
            <button class="btn login" onclick="document.getElementById('id01').style.display='block'">Login or sign up</button>
         </div>
         <div id="user-container"  class="col l5">
            <div class="row">
               <h4 class="header">Organize your videos</h4>
               <h4 class="header">Create custom lists</h4>
            </div>
         </div>
      </div>
      <!-- The Modal -->
      <div id="id01" class="modal">
         <span onclick="document.getElementById('id01').style.display='none'" 
            class="close" title="Close Modal"></span>
         <!-- Modal Content -->
         <form class="modal-content animate" action="/action_page.php">
            <div class="container">
               <label for="uname"><b>Username</b></label>
               <input type="text" placeholder="Enter Username" name="uname" required>
               <label for="psw"><b>Password</b></label>
               <input type="password" placeholder="Enter Password" name="psw" required>
               <button class="btn modal-btn" type="submit">Login</button>
               <button class="btn modal-btn cancelbtn" type="button" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
               <label>
               <input type="checkbox" checked="checked" name="remember"> Remember me
               </label>
            </div>
            <div class="container" style="background-color:#161d20">
               <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
         </form>
=======

<head>
  <meta charset="utf-8">
  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!--Optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Link to local stylesheet -->
  <link rel="stylesheet" type="text/css" href="styles/styles.css">

  <!-- Link to local font -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Righteous" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <title>Video Watchlist Creator</title>

</head>

<body>
  <div class="container">
    <div class="jumbotron row" style="text-align:center" server.js>
      <div class="col l7"> 
        <h1 class="header">VIDEO WATCHLIST</h1>
      </div> 
    <div id="user-container"  class="col l4">
      <div class="row">
        <h4 class="header">Organize your videos</h4>
        <h4 class="header">Create custom lists</h4>      
      </div>
    </div>  
    <div class="row">
      <div class="col l2"></div>
      <nav class="nav primary-nav links col l8">
          <ul>
            <li><a href="index.html">Home</a></li><!--
            --><li><a href="watchlists.html">Watchlists</a></li><!--
            --><li><a href="login.html">Login</a></li>
          </ul>
        </nav>
    </div> 
  </div>

{{!-- </div> --}}

    {{{body}}}

    <footer class="movieFooter">
      <div class="footer-copyright">
        <div class="container">
          <span>© 2019 Team Atlas</span>
          <a class="right" href="https://github.com/gteo09/ProjectTwo">Git Repository</a>
        </div>
>>>>>>> 69fc19630997b9eac474491863a424388cd7ae51
      </div>
      {{{body}}}
      <footer class="movieFooter">
         <div class="footer-copyright">
            <div class="container">
               <span>© 2019 Team Atlas</span>
               <a class="right" href="https://github.com/gteo09/ProjectTwo">Git Repository</a>
            </div>
         </div>
      </footer>
   </body>
</html>