<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Link to local stylesheet -->
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <!-- Link to local font -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Righteous" rel="stylesheet">

  <title>Landing Page</title>

</head>
<body>
  <div class="container">
    <div class="jumbotron row clearfix">
      <div class="col l7"> 
        <h1 class="header">VIDEO WATCHLIST</h1>
        <!-- Button to open the modal login form -->
        <button class="btn login" onclick="document.getElementById('id01').style.display='block'">Login or sign up</button>
      </div> 
    <div id="user-container"  class="col l5">
      <div class="row">
        <h4 class="header">Organize your videos</h4>
        <h4 class="header">Create custom genres</h4>      
      </div>
    </div>
  </div>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" 
class="close" title="Close Modal"></span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button class="btn modal-btn" type="submit">Login</button>
      <button class="btn modal-btn cancelbtn" type="button" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#161d20">
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

    {{{body}}}

    <footer class="movieFooter">
      <div class="footer-copyright">
        <div class="container">
          <span>© 2019 Team Atlas</span>
          <a class="right" href="https://github.com/TMSulik/Burger">Git Repository</a>
        </div>
      </div>
    </footer>

  </body>
</html>
