{{!-- will render subcategories --}}
<div class="col-8 offset-2">
    <div class="row selections">
        <h4 id="standards-header"></h4>
        <section class="col l12" id="stock-genres">
            {{#each customcat}}
            <h1>{{category}}</h1>
            <ul>{{titles}}</ul>
            {{/each}}
        </section>
    </div>
</div>
<script src="/js/index.js"></script>