<div class="row selections">
    <h4 id="standards-header"></h4>
    <section class="col l12" id="stock-genres"></section>
    <p>{{test}}</p>
    </div>
  </div>
  <div class="clearfix">
  </div>
</div>


<script src="/js/index.js"></script>