<div id="home">
  <div class="container">
    <div class="search-container">
    <div class="row">
      <div style="text-align:center">
      <div class="col-8 offset-2">
        <div class="row selections">
        <h4>{{msg}}</h4>

        <div class="input-field col l3">
<<<<<<< HEAD
          <select>
            <option value="" disabled selected>Choose a search option</option>
            <option  value="1">Titles</option>
=======
          <select id="search-dropdown">
            <option value="" disabled selected>Choose a search option</option>
            <option value="1">Titles</option>
>>>>>>> c419bda... How I think search results should look
            <option value="2">Actors</option>
            <option value="3">Years</option>
            <option value="4">Television</option>
          </select>
        </div>
        <div class="row">
          <form class="col l9">
            <div action="/api/search"> 
              <div class="form-group input-field col l8">
                <label for="example-text"></label>
                <input type="text" name="input" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter search term">
              </div>
              <div class="form-group col l3">
                <button id="search-database" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
<<<<<<< HEAD
        <h5>Search results</h5>
        <div id="search-results"></div>
        <section class="row results-row">
          <h5 class="col s4">Videodrome (1986)</h5>
          <button class="btn read col s3">Read synopsis</button>
          <div class="input-field col s2">
            <select>
              <option value="" disabled selected>Select list</option>
              <option  value="1">Asian Action</option>
              <option value="2">Film Noir</option>
            </select>             
          </div>
          <div class="col s2">
            <button class="btn">Save</button>
          </div>
          <hr>
        </section>
      </div> 
    </div>
</div>
      <div class="row selections">
          <h4 id="standards-header"></h4>
          <section class="col l12" id="stock-genres"></section>
          </div>
        </div>
        <div class="clearfix">
        </div>
=======

        <div class="row selections">
          <h4 id="search-results-header"></h4>
          <section class="col l12" id="resultscatcher">

            {{!-- <div id="image"></div> --}}
          </section>
        </div>

        <h5>Search results</h5>
        <div id="search-results"></div>
          <section class="row results-row">
            <h5 class="col s4">Videodrome (1986)</h5>
            <button class="btn read col s3">Read synopsis</button>
            <div class="input-field col s2">
              <select>
                <option value="" disabled selected>Select list</option>
                {{!-- The options should be a handlebars `each` block from the watchlist table --}}
                <option value="Asian Action">Asian Action</option>
                <option value="Marvel Universe">Marvel Universe</option>
                <option value="Mockumentary">Mockumentary</option>
                <option value="Film Noir">Film Noir</option>
              </select>              
            </div>
            <div class="col s2">
              <button class="btn">Save</button>
            </div>
            <hr>
          </section>
        </div>

      </div>
    </div>
    {{!-- <div class="row selections">
      <h4 id="standards-header"></h4>
        <section class="col l12" id="stock-genres"></section>
      </div>
    </div> --}}
    <div class="clearfix"></div>
>>>>>>> c419bda... How I think search results should look
      </div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>