<div id="home">
<div class="container">
<div class="search-container">
<div class="row">
   <div style="text-align:center">
      <div class="col-8 offset-2">
         <div class="row selections">
            <h4>{{msg}}</h4>
            <div class="input-field col s4" class="text-center" >
               <select class="chosen-selected" id="search-dropdown">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Titles</option>
                  <option value="2">Actors</option>
                  <option value="3">Year</option>
               </select>
            </div>
            <div class="row">
               <form class="col l9">
               <form class="clearfix mb-4" action="/api/search">
                  <div class="form-group">
                     <label for="example-text">Enter a keyword to search the movie database</label>
                     <input type="text" name="input" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Keyword search">
                  </div>
                  <button id="submit" class="btn btn-primary">Submit</button>
                  <span><button id="add-filter" class="btn btn-primary">Add Filter</button></span>
               </form>
               <div class="row selections">
                  <h4 id="div-header">Search Results</h4>
                  <section class="col l12" id="resultscatcher">
                     <div id="image"></div>
                  </section>
               </div>
               <div class="filters-div"></div>
               <ul>
                {{#each result}}
                  {{> movies/movie-block}}
                {{/each}}

               </ul>
              
              
               
               <div class="row selections">
                  <h4 id="standards-header"></h4>
                  <section class="col l12" id="stock-genres"></section>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="/js/index.js"></script>