<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h4>{{msg}}</h4>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Enter a keyword to search the movie database</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Keyword search">
          </div>
          <div class="form-group">
            <label for="example-description">Target category</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Category description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        <h4>Saved searches</h4>

        <ul id="example-list" class="list-group selections">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a class="lgi" href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>

      <div class="row selections">
        <h4 id="standards-header"></h4>
        <section class="col l12" id="stock-genres"></section>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>