<div id="home">
  <div class="container">
    <div class="search-container">
    <div class="row">
      <div style="text-align:center">
      <div class="col-8 offset-2">
        <h4>{{msg}}</h4>

      <!-- Dropdown Trigger -->
      <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Select Search Category</a>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">Actors</a></li>
        <li><a href="#!">Years</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!"></a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Enter a keyword to search the movie database</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Keyword search">
          </div>
          <button id="include" class="btn btn-primary">Submit</button>
          {{!-- <button id="exclude" class="btn btn-primary">Exclude</button> --}}
        </form>
        
      <div class="row selections">
        <h4 id="standards-header"></h4>
        <section class="col l12" id="stock-genres"></section>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="/js/index.js"></script>