

<li class="movie-block container">
    <h2 class="row movie-title">{{original_title}}</h2>
    <p class="row movie-categories">
<<<<<<< HEAD
    {{#each genre_ids}}
=======
    {{#each movie-categories}}
>>>>>>> 69fc19630997b9eac474491863a424388cd7ae51
        <span>{{this}}/</span>
    {{/each}}
    </p>    
    <div class="row details-block">
        <div class="col m6 movie-img"></div>
        <div class="col m1"></div>
        <div class="col m5 movie-overview">{{overview}}</div>
    </div>
</li>



{{!-- format of json passed to this handlebar:
    {
        original_title: "movie_A",
        movie-categories: ["action", "drama"],
        imgLink: "/somelink.jpg",
        description: "this movie tells a story........."
    }
--}}