

<li class="movie-block container">
    <h2 class="row movie-title">{{original_title}}</h2>
    <p class="row movie-categories">
    {{#each movie-categories}}
        <span>{{this}}/</span>
    {{/each}}
    </p>    
    <div class="row details-block">
        <div class="col m6 movie-img"></div>
        <div class="col m1"></div>
        <div class="col m5 movie-description">{{description}}</div>
    </div>
</li>



{{!-- format of json passed to this handlebar:
    {
        original_title: "movie_A",
        movie-categories: ["action", "drama"],
        imgLink: "/somelink.jpg",
        description: "this movie tells a story........."
    }
--}}