<div class="col lg3">
    <img class="img thumbnail center-block movie-poster" src="?" alt="?">
    <p class="text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button"><span class="fa fa-envelope"></span>'
            ????
        </a>
    </p>
</div>