<li>
    <div class="col lg4">
        <img class="img thumbnail center-block movie-poster" src="{{cover_img}}" alt="?">
        <p class="text-center">
            <a class="btn btn-primary btn-lg" href="/watchlists/{{id}}" role="button">{{list_name}}</a>
        </p>
    </div>
</li>

<script>
    
</script>