body {
  background-image: url('../images/film-strip.jpg');
  height: 100%;
}

.list-group-item {
  line-height: 2.5;
}

.modal {
  background: #2d7c9d; /* jelly bean */
  border-color: #161d20;  /* bunker */
  border-style: double;
  border-width: 8px;
}

.links {
  background: #161d20;  /* bunker */;
  /* padding-left: 40%; */
  width: 100%;
}

.header {
  margin-top: 10px;
  margin-left: 20px;
}

.modal-btn {
  margin: 10px;
}

h1, h4 {
  /* font-family: 'Righteous', cursive; */
  font-family: 'Anton', sans-serif;
  color: silver;
  text-shadow: 2px 2px #161d20;  /* bunker */
}

.login {
  margin-bottom: 20px;
  margin-left: 20px;
}

.modal-content {
  background: #161d20;  /* bunker */
}

.movie-poster {
  width: 180px;
  height: 240px;
  margin-top: 20px;
}

.form-control {
  color: white;
  text-shadow: 2px 2px black;
}

.lgi {
  color: silver;
  background:#161d20; /* bunker */
  font-size: 3ex;
  padding: 8px;
  margin: 4px;
}

.container {
  background: #36498f;  /* chambray */
  color: white;
}

#tmdb-search-results {
  margin: 20px;
}

.search-container {
  background:#161d20;  /* bunker */
  padding: 20px;
}

.btn-lg {
  width: 180px;
}

.selections {
  background: #2d7c9d; /* jelly bean */
  padding: 10px;
}

.jumbotron {
  background: #2d7c9d; /* jelly bean */
  border-color: #161d20;  /* bunker */
  border-style: double;
}

.movieFooter {
  height: 60px;
  border-color: #161d20;  /* bunker */
  border-style: double;
}

.btn-primary {
  float: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

.input-field {
  background-color: #254558; /* blue dianne */
  -webkit-text-fill-color: silver;
}

.read {
  margin-right: 10px;
  /* float: left; */
}

#search-database {
  margin-top: 20px;
  float: right;
  height: 40px;
}

.btn {
  margin-top: 20px;
  height: 200px;
}

/* .results-row {
  background-color:  #36498f;  /* chambray */
  padding: 10px;
} */