body {
  background-image: url('../images/film-strip.jpg');
  height: 100%;
}

.list-group-item {
  line-height: 2.5;
}

.modal {
  background: #2d7c9d; /* jelly bean */
  border-color: #161d20;  /* bunker */
  border-style: double;
  border-width: 8px;
}

.header {
  margin-top: 10px;
  margin-left: 20px;
}

.modal-btn {
  margin: 10px;
}

h1, h4 {
  /* font-family: 'Righteous', cursive; */
  font-family: 'Anton', sans-serif;
  color: silver;
  text-shadow: 2px 2px #161d20;  /* bunker */
}

.login {
  margin-bottom: 20px;
  margin-left: 20px;
}

.movie-poster {
  width: 180px;
  height: 240px;
  margin-top: 20px;
}

.form-control {
  color: white;
  text-shadow: 2px 2px black;
}

.lgi {
  color: silver;
  background:#161d20; /* bunker */
  font-size: 3ex;
  padding: 8px;
  margin: 4px;
}

.container {
  background: #36498f;  /* chambray */
  color: white;
}

.search-container {
  background:#161d20;  /* bunker */
}

.btn-lg {
  width: 180px;
}

.selections {
  background: #2d7c9d; /* jelly bean */
}

.jumbotron {
  background: #2d7c9d; /* jelly bean */
  border-color: #161d20;  /* bunker */
  border-style: double;
}

.movieFooter {
  height: 60px;
  border-color: #161d20;  /* bunker */
  border-style: double;
}

.btn-primary {
  float: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

.dropdown-content{
  width: max-content !important;
  height:auto !important;
}
/*
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
*/